*

# AGS
!/.ags/
!/.ags/**

# Cache
!/.cache/
!/.cache/ags/
!/.cache/ags/user/
!/.cache/ags/user/generated/
!/.cache/ags/user/generated/**

# Config
!/.config/

!/.config/ags/
!/.config/ags/**

!/.config/btop/
!/.config/btop/**

!/.config/fastfetch/
!/.config/fastfetch/**

!/.config/fish/
!/.config/fish/**

!/.config/fontconfig/
!/.config/fontconfig/**

!/.config/foot/
!/.config/foot/**

!/.config/ghostty/
!/.config/ghostty/**

!/.config/gowall/
!/.config/gowall/**

!/.config/gtk-3.0/
!/.config/gtk-3.0/**

!/.config/gtk-4.0/
!/.config/gtk-4.0/**

!/.config/hypr/
!/.config/hypr/**

!/.config/kitty/
!/.config/kitty/**

!/.config/lunarfetch/
!/.config/lunarfetch/**

!/.config/matugen/
!/.config/matugen/**

!/.config/presets/
!/.config/presets/**

!/.config/qt5ct/
!/.config/qt5ct/**

!/.config/qt6ct/
!/.config/qt6ct/**

!/.config/rofi/
!/.config/rofi/**

!/.config/wlogout/
!/.config/wlogout/**

!/.config/zshrc.d/
!/.config/zshrc.d/**

!/.config/starship.toml


# Cursor
!/.cursor/
!/.cursor/extensions/
!/.cursor/extensions/**


# Fonts
!/.fonts/
!/.fonts/**


# Local
!/.local/
!/.local/share/
!/.local/share/glib-2.0/
!/.local/share/glib-2.0/schemas/
!/.local/share/glib-2.0/schemas/**

!/.local/bin/
!/.local/bin/**

!/.local/state/
!/.local/state/ags/

!/.local/state/ags/
!/.local/state/ags/**
!/.local/state/ags/scss/
!/.local/state/ags/scss/**
!/.local/state/ags/user/
!/.local/state/ags/user/**


# Pictures
!/Pictures/
!/Pictures/Wallpapers/
!/Pictures/Wallpapers/**


# Themes
!/sddm-astronaut-theme/
!/sddm-astronaut-theme/**

!restore-dotfiles.sh
!README.md
!.gitignore